Flask==1.1.2
logging
pyodbc==4.0.30
opencensus-ext-azure
spacy
nltk
plotly
sklearn
azure-storage-blob==12.4.0
pandas
numpy
seaborn
matplotlib
statsmodels
pmdarima
pandas-profiling
beautifulsoup4
demoji
